<!--
  Generated template for the SingupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>sing-up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <form
    (ngSubmit)="validarFormulario(formulario)"
    #formulario="ngForm">
  <ion-list>

    <ion-item>
      <!--<ion-label floating>Username - {{nombre}} </ion-label>-->
      <ion-label floating>Username </ion-label>

      <ion-input [(ngModel)]="nombre"
                 name="nombre"
                 type="text">
      </ion-input>

    </ion-item>

    <ion-item *ngIf="passwordFormulario.errors
      &&passwordFormulario.dirty">
      <ion-label>
        <p style="background-color: red;color: white">
          ERROR -
          <span *ngIf="passwordFormulario.errors.required">
              Campo requerido
            </span>
          <span *ngIf="passwordFormulario.errors.minlength">
              Necesita mas de 3 caracteres
            </span>
          <span *ngIf="passwordFormulario.errors.maxlength">
              No puede escribir mas de 5 caracteres
            </span>

        </p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password"
                 required
                 minlength="3"
                 maxlength="5"


                 [(ngModel)]="password"
                 name="password"
                 #passwordFormulario="ngModel"
      ></ion-input>
    </ion-item>

    <ion-item *ngIf="passwordConfirmacionFormulario.errors
      &&passwordConfirmacionFormulario.dirty">
      <ion-label>
        <p style="background-color: red;color: white">
          ERROR -
          <span *ngIf="passwordConfirmacionFormulario.errors.required">
              Campo requerido
            </span>
          <span *ngIf="passwordConfirmacionFormulario.errors.minlength">
              Necesita mas de 3 caracteres
            </span>
          <span *ngIf="passwordConfirmacionFormulario.errors.maxlength">
              No puede escribir mas de 5 caracteres
            </span>

        </p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label floating>Password confirmacion</ion-label>
      <ion-input type="password"
                 required
                 minlength="3"
                 maxlength="5"
                 [(ngModel)]="passwordConfirmacion"
                 name="passwordConfirmacion"
                 #passwordConfirmacionFormulario="ngModel"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>E-mail </ion-label>

      <ion-input [(ngModel)]="email"
                 name="email"
                 type="text"
                 required
                minlength="6">
      </ion-input>
    </ion-item>



    <ion-item>
      <ion-label floating>Direccion </ion-label>

      <ion-input [(ngModel)]="direccion"
                 name="direccion"
                 type="text"
                 required
                 minlength="6">

      </ion-input>
    </ion-item>
  </ion-list>



    <button ion-button color="secondary"
            [disabled]="formulario.invalid"
            type="submit"
            clear>Enviar datos
    </button>

  </form>
  <h1>los datos ingresados: {{email}} </h1>
</ion-content>


